extends layout

block content

  h1 Log In

  form(method='POST')
    div
      label(for='username') User:
      input#username.form-control(type='text', name='username' required )


      label(for='password') Password:
      input#password.form-control(type='text', name='password' required )
    button.btn.btn-primary(type='submit') Submit

  if errors
    ul
      for error in errors
        li!= error.msg
